h1{
   text-align: center;
}

body{
    background-color: black;
    color: white;
}

body,html{
    height: 100%;
}
.parallax {
    /* The image used */
    background-image: url('IJMC9234.JPG');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}